Car_Facility_Client/Serializer_Test/Connected Services/ICarService/ICarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
      <xs:element name="traceStolenProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="traceStolenProductsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="traceStolenParts">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="traceStolenPartsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="traceStolenCar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="traceStolenCarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="traceStolenCarResponse">
    <wsdl:part name="parameters" element="ns:traceStolenCarResponse" />
  </wsdl:message>
  <wsdl:message name="traceStolenCarRequest">
    <wsdl:part name="parameters" element="ns:traceStolenCar" />
  </wsdl:message>
  <wsdl:message name="traceStolenPartsRequest">
    <wsdl:part name="parameters" element="ns:traceStolenParts" />
  </wsdl:message>
  <wsdl:message name="traceStolenPartsResponse">
    <wsdl:part name="parameters" element="ns:traceStolenPartsResponse" />
  </wsdl:message>
  <wsdl:message name="traceStolenProductsRequest">
    <wsdl:part name="parameters" element="ns:traceStolenProducts" />
  </wsdl:message>
  <wsdl:message name="traceStolenProductsResponse">
    <wsdl:part name="parameters" element="ns:traceStolenProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarServicePortType">
    <wsdl:operation name="traceStolenProducts">
      <wsdl:input wsaw:Action="urn:traceStolenProducts" message="ns:traceStolenProductsRequest" />
      <wsdl:output wsaw:Action="urn:traceStolenProductsResponse" message="ns:traceStolenProductsResponse" />
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <wsdl:input wsaw:Action="urn:traceStolenParts" message="ns:traceStolenPartsRequest" />
      <wsdl:output wsaw:Action="urn:traceStolenPartsResponse" message="ns:traceStolenPartsResponse" />
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <wsdl:input wsaw:Action="urn:traceStolenCar" message="ns:traceStolenCarRequest" />
      <wsdl:output wsaw:Action="urn:traceStolenCarResponse" message="ns:traceStolenCarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ICarServiceHttpBinding" type="ns:ICarServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="traceStolenProducts">
      <http:operation location="traceStolenProducts" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <http:operation location="traceStolenParts" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <http:operation location="traceStolenCar" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICarServiceSoap12Binding" type="ns:ICarServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="traceStolenProducts">
      <soap12:operation soapAction="urn:traceStolenProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <soap12:operation soapAction="urn:traceStolenParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <soap12:operation soapAction="urn:traceStolenCar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ICarServiceSoap11Binding" type="ns:ICarServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="traceStolenProducts">
      <soap:operation soapAction="urn:traceStolenProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenParts">
      <soap:operation soapAction="urn:traceStolenParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traceStolenCar">
      <soap:operation soapAction="urn:traceStolenCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICarService">
    <wsdl:port name="ICarServiceHttpSoap12Endpoint" binding="ns:ICarServiceSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/ICarService.ICarServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ICarServiceHttpEndpoint" binding="ns:ICarServiceHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/ICarService.ICarServiceHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="ICarServiceHttpSoap11Endpoint" binding="ns:ICarServiceSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/ICarService.ICarServiceHttpSoap11Endpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>